<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('卡商代理列表')"/>
	<th:block th:include="include :: bootstrap-select-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
	<div class="row">
		<div class="col-sm-12 search-collapse">
			<form id="formId">
				<div class="select-list">
					<ul>
						<li>
							<span>代理名称：</span>
							<input type="text" id="parentName" name="parentName"/>
						</li>

						<li>
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
									class="fa fa-search"></i>&nbsp;搜索</a>
							<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
									class="fa fa-refresh"></i>&nbsp;重置</a>
						</li>
					</ul>
				</div>
			</form>
		</div>
		<div class="btn-group-sm" id="toolbar" role="group">
			<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="alipay:merchant:add">
				<i class="fa fa-plus"></i> 新增
			</a>
		</div>
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table"></table>
		</div>
	</div>
</div>
<th:block th:include="include :: footer"/>
<script type="text/javascript" th:src="@{/static/js/download.js}"></script>
<th:block th:include="include :: bootstrap-select-js"/>
<script th:inline="javascript">
	const editFlag = [[${@permission.hasPermi('alipay:merchant:edit')}]];
	const openAccount = [[${@permission.hasPermi('alipay:merchant:opened')}]];
	const sameRankFlag = [[${@permission.hasPermi('alipay:merchant:sameRank')}]];
	const childrenRankFlag = [[${@permission.hasPermi('alipay:merchant:childrenRank')}]];
	const prefix = ctx + "merchant/agent";
	const prefix1 = ctx + "system/user";
	const resetPwdFlag = [[${@permission.hasPermi('system:user:resetPwd')}]];
	const resetMoneyPwdFlag = [[${@permission.hasPermi('system:user:resetMoneyPwd')}]];
	const bindGoogleFlag = [[${@permission.hasPermi('system:user:bind')}]];
	const productType = [[${@dict.getProductType()}]];

	$(function () {
		var options = {
			url: prefix + "/list",
			createUrl: prefix + "/add",
			updateUrl: prefix + "/edit/{id}",
			openUrl: prefix + "/open/account/{userId}",
			listUrl: prefix + "/agentList/{userId}/{type}",
			// detailView: true,//父子表
			pagination: true,//显示分页
			modalName: "卡商代理信息",
			detailView: true,
			//注册加载子表的事件。注意下这里的三个参数！
			onExpandRow: function (index, row, $detail) {
				initChildTable(index, row, $detail, 0);
			},
			columns: [
				{
					field: 'id',
					title: '数据id',
					formatter: function (value, row, index) {
						return index;
					}

				},
				{
					field: 'parentName',
					title: '上级名称',
					align: "left"
				},
				{
					field: 'childrenName',
					title: '代理名称',
					align: "left"
				},
				{
					field: 'distance',
					title: '代理层级',
					align: "left"
				},
				{
					field: 'accountBalance',
					title: '可用额度',
					align: "left"
				},
				{
					field: 'todayProfit',
					title: '当天分润',
					align: "left"
				},
				{
					field: 'todayDealAmount',
					title: '当天入款',
					align: "left"
				},
				{
					field: 'todayOtherWitAmount',
					title: '当天出款',
					align: "left"
				},
				{
					field: 'chargeRate',
					title: '入款费率',
					align: "left",
					formatter: function (value, row, index) {
						// return $.table.selectDictLabel(statusType, row.switchs);
						var table = '<ul style="padding-inline: 0px">'

						var rates = row.chargeRates;
						console.log(productType)
						for (var i in rates) {
							table += '<li style="list-style: none;"><span >'  + $.table.showProductLabel(productType, '该产品已停用或不存在', rates[i].payTypr)+':'+rates[i].fee + '</span></li>'
						}
						table += '</ul>'
						return table;
					}
				},
				{
					field: 'withdralRate',
					title: '出款费率',
					align: "left",
					formatter: function (value, row, index) {
						var table = '<ul style="padding-inline: 0px">'

						var rates = row.withdralRates;
						for (var i in rates) {
							table += '<li style="list-style: none;"><span >'  + $.table.showProductLabel(productType, '该产品已停用或不存在', rates[i].payTypr)+':'+rates[i].fee + '</span></li>'
						}
						table += '</ul>'
						return table;
					}
				},

				{
					field: 'createTime',
					title: '创建时间',
					align: "left"
				}]
		};
		$.table.init(options);
	});


	initChildTable = function (index, row, $detail, colorIndex) {
		var childTable = $detail.html('<table style="table-layout:fixed"></table>').find('table');
		$(childTable).bootstrapTable({
			detailView: true,
			onExpandRow: function (index, row, $detail) {
				initChildTable(index, row, $detail, row.colorIndex);
			},
			url: prefix + "/childrenList",
			method: 'post',
			sidePagination: "server",
			contentType: "application/x-www-form-urlencoded",
			queryParams: {
				parentName: row.childrenName
			},
			columns: [
				{
					field: 'id',
					title: '排序',
					formatter: function (value, row, index) {
						return index;
					}
				},
				{
					field: 'parentName',
					title: '上级名称',
					align: "left"
				},
				{
					field: 'childrenName',
					title: '代理名称',
					align: "left"
				},
				{
					field: 'distance',
					title: '代理层级',
					align: "left"
				},
				{
					field: 'accountBalance',
					title: '可用额度',
					align: "left"
				},
				{
					field: 'todayProfit',
					title: '当天分润',
					align: "left"
				},
				{
					field: 'todayDealAmount',
					title: '当天入款',
					align: "left"
				},
				{
					field: 'todayOtherWitAmount',
					title: '当天出款',
					align: "left"
				},
				{
					field: 'chargeRate',
					title: '入款费率',
					align: "left",
					formatter: function (value, row, index) {
						// return $.table.selectDictLabel(statusType, row.switchs);
						var table = '<ul style="padding-inline: 0px">'

						var rates = row.chargeRates;
						console.log(productType)
						for (var i in rates) {
							table += '<li style="list-style: none;"><span >'  + $.table.showProductLabel(productType, '该产品已停用或不存在', rates[i].payTypr)+':'+rates[i].fee + '</span></li>'
						}
						table += '</ul>'
						return table;
					}
				},
				{
					field: 'withdralRate',
					title: '出款费率',
					align: "left",
					formatter: function (value, row, index) {
						var table = '<ul style="padding-inline: 0px">'

						var rates = row.withdralRates;
						for (var i in rates) {
							table += '<li style="list-style: none;"><span >'  + $.table.showProductLabel(productType, '该产品已停用或不存在', rates[i].payTypr)+':'+rates[i].fee + '</span></li>'
						}
						table += '</ul>'
						return table;
					}
				},
				{
					field: 'createTime',
					title: '创建时间',
					align: "left"
				}]

		});
	};


</script>
</body>
</html>