<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改对账')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table">


            </table>
        </div>
    </div>
</div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:statement:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:statement:remove')}]];
    var prefix = ctx + "system/statement";
    var $table = $('#bootstrap-table');
    $(function () {
        //var d = JSON.stringify([[${alipayStatement.cardBalanceDetail}]]).toString().replace(new RegExp("\\\\\"","gm"),"\"");
        var d = [[${alipayStatement.cardBalanceDetail}]];
        d=JSON.parse(d);
        console.log(d);

        var options = {
            modalName: "对账",
            data: d,
            columns: [
                {
                    field: '卡号',
                    title: '卡号'
                },
                {
                    field: '持卡人',
                    title: '持卡人'
                },
                {
                    field: '开户行',
                    title: '开户行'
                },
                {
                    field: '业务余额',
                    title: '业务余额'
                },
                {
                    field: '参考余额',
                    title: '参考余额'
                },
                {
                    field: '当日入款',
                    title: '当日入款'
                },
                {
                    field: '累计入款',
                    title: '累计入款'
                },
                {
                    field: '当日出款',
                    title: '当日出款'
                },
                {
                    field: '累计出款',
                    title: '累计出款'
                }

            ]
        };
        $table.bootstrapTable(options)
        //$.table.init(options);
    });
    </script>
</body>
</html>