<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('收款媒介列列表')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <span>顶代账户：</span>
                            <input type="text" name="qrcodeId"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-select-js"/>
<script th:inline="javascript">
    const codeFlag = [[${@permission.hasPermi('alipay:medium:showCode')}]];
    const removeFlag = [[${@permission.hasPermi('alipay:medium:remove')}]];
    const editAmountById = [[${@permission.hasPermi('alipay:medium:editAmountById')}]];
    const editAmountByCode = [[${@permission.hasPermi('alipay:medium:editAmountByCode')}]];
    const mediumType = [[${@dict.getType('medium_type')}]];
    const prefix = ctx + "alipay/medium";

    $(function () {
        var options = {
            url: prefix + "/listQueue",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/removeQueue/{id}",
            modalName: "收款媒介",
            columns: [{
                checkbox: true
            },
                {
                    field: 'mediumId',
                    title: '分组号',
                },
                {
                    field: 'mediumNumber',
                    title: '银行账号',
                },
                {
                    field: 'mediumNote',
                    title: '详情',
                },
                {
                    field: 'qrcodeId',
                    title: '卡商账户'
                    , formatter: function (value, row, index) {
                        var table = '<ul>'
                        table += '<li>' + '卡商账户：' + row.qrcodeId + '</li>'
                        table += '<li>' + '接单起始金额：' + row.startFund + '</li>'
                        table += '<li>' + '滚动：' + row.fund + '</li>'
                        table += '<li>' + '接单冻结：' + row.freezeBalance + '</li>'
                        table += '<li>' + '卡押金：' + row.deposit + '</li>'
                        table += '</ul>'
                        return table;
                    }
                },
                {
                    field: 'mountLimit',
                    title: '优先级'
                },


                /**
                 *
                 *
                 *
                 *
                 *     private  String startFund ;
                 private  String deposit ;
                 private  String fund ;
                 private  String freezeBalance ;
                 */
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-info btn-xs ' + codeFlag + '" href="javascript:void(0)" onclick="renotify(\'' + row.mediumNumber + '\',\'' + row.mediumId +  '\')"><i class="fa fa-search-plus"></i>优先</a> ');
                        actions.push('<a class="btn btn-warning btn-xs ' + codeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.mediumNumber + '\')"><i class="fa fa-search-plus"></i>剔除</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
    function renotify(mediumNumber,mediumId) {


            $.operate.post(prefix + "/first", {'mediumId':mediumId,"mediumNumber":mediumNumber});
    }

</script>
</body>
</html>