<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('收款媒介列列表')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <span>卡商账户：</span>
                            <input type="text" name="qrcodeId"/>
                        </li>
                        <li>
                            <span>手机号：</span>
                            <input type="text" name="mediumPhone"/>
                        </li>
                        <li>
                            <span>银行卡号：</span>
                            <input type="text" name="mediumNumber"/>
                        </li>
                        <li>
                            <span>开户人：</span>
                            <input type="text" name="mediumHolder"/>
                        </li>
                        <li>
                            <span>开户行：</span>
                            <input type="text" name="account"/>
                        </li>
                        <li class="select-selectpicker">
                            <label>媒介类型：</label>
                            <select id="code" name="code" th:with="type=${@dict.getType('medium_type')}"
                                    class="selectpicker"
                                    data-none-selected-text="请选择">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li class="select-selectpicker">
                            <label>状态：</label>
                            <select id="status" name="status" class="selectpicker"
                                    data-none-selected-text="请选择">
                                <option value="">所有</option>
                                <option value="1" th:default="1">开启</option>
                                <option value="0">关闭</option>
                            </select>
                        </li>
                        <li class="select-time">
                            <span>创建时间：</span>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[beginCreateTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[endCreateTime]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">

            <a class="btn btn-primary" onclick="$.operate.openAccount(1,'修改银行风控规则','editAmountByBank')">
                <i class="fa fa-bar-chart"></i> 根据银行名称修改风控规则
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-select-js"/>
<script th:inline="javascript">
    const codeFlag = [[${@permission.hasPermi('alipay:medium:showCode')}]];
    const removeFlag = [[${@permission.hasPermi('alipay:medium:remove')}]];
    const editAmountById = [[${@permission.hasPermi('alipay:medium:editAmountById')}]];
    const editAmountByCode = [[${@permission.hasPermi('alipay:medium:editAmountByCode')}]];
    const mediumType = [[${@dict.getType('medium_type')}]];
    const prefix = ctx + "alipay/medium";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            editAmountUrl: prefix + "/editAmount/{id}",
            editAmountUrlByBankName: prefix + "/editAmountByBank",
            editAmountByCode: prefix + "/editAmountByCode/{id}",
            openUrl: prefix + "/show/{userId}",
            editBankName:prefix + "/editBankName/{id}",
            modalName: "收款媒介",
            columns: [{
                checkbox: true
            },
                {
                    field: 'mediumNumber',
                    title: '媒介信息',
                    formatter: function (value, row, index) {
                        var table = '<ul >';
                        /*if(row.isDeal=='1')
                        {
                            table = '<ul style="background-color: lightgray">'
                        }*/
                        if(row.error == '1')
                        {
                            table = '<ul style="color: red">';
                        }
                        table += '<li>' + '媒介ID：' + row.mediumId + '</li>';
                        table += '<li>' + '媒介账号：' + '<span  >' + row.mediumNumber + '</span>' + '</li>';
                        //支付宝显示二维码，银行卡显示开户行
                        if(row.code=='alipay')
                        {
                            var src= "https://api.qrserver.com/v1/create-qr-code/?size=50x50&data="+row.payInfo;
                            table += '<li>' + '二维码：<img src="' +src  + '"></li>';
                        }else {
                            table += '<li>' + '开户行：' + row.account + '</li>';
                        }

                        table += '<li>' + '手机号：' + row.mediumPhone + '</li>';
                        table += '<li>' + '卡商账户：' + row.qrcodeId + '</li>';
                        table += '<li>' + '持卡人：' + row.mediumHolder + '</li>';
                        table += '</ul>';

                        return table;
                    }
                },
                {
                    field: 'mountLimit',
                    title: '实时数据',
                    formatter: function (value, row, index) {
                        var amount = row.toDayDeal - row.toDayWit + row.yseToday;
                        var table = '<ul>'
                        table += '<li>' + '交易余额：' + amount + '</li>'
                        table += '<li>' + '参考余额：' + row.mountNow + '</li>'
                        table += '<li>' + '昨日交易余额：' + row.yseToday + '</li>'
                        table += '</ul>'
                        return table;
                    }
                },
                {
                    title: '状态',
                    align: 'black',
                    formatter: function (value, row, index) {
                        var table = '<ul>'
                        table += '<li>' + '不让接单：' + statusTools(row, 'black') + '</li>'
                        table += '<li>' + '接单状态：' + statusTools(row, 'acceptOrder') + '</li>'
                        return table;
                    }
                },

                {
                    title: '接单控制',
                    align: 'isClickPay',
                    formatter: function (value, row, index) {
                        var table = '<ul>'
                        table += '<li>' + '接单限制余额：' + row.mountLimit + '</li>'
                        table += '<li>' + '起始收款金额：' + row.startAmount + '</li>'
                        table += '<li>' + '接单开始时间：' + row.startTime + '</li>'
                        table += '<li>' + '接单结束时间：' + row.endTime + '</li>'
                        if (1 == row.isClickPay) {
                            table += '<li>' + '收款户名验证是否验证户名：是' + '</li>'
                        } else {
                            table += '<li>' + '收款户名验证是否验证户名：否' + '</li>'
                        }
                        table += '<li>' + '接单间隔秒数：' + row.sc + '</li>'
                        table += '</ul>'
                        return table;
                    }
                },
                {
                    field: 'witAmount',
                    title: '数据情况',
                    formatter: function (value, row, index) {
                        var table = '<ul>'
                        table += '<li>' + '当如入款：' + row.toDayDeal + '</li>'
                        table += '<li>' + '累计入款：' + row.sumDayDeal + '</li>'
                        table += '<li>' + '当日出款：' + row.toDayWit + '</li>'
                        table += '<li>' + '累计出款：' + row.sumDayWit + '</li>'
                        table += '</ul>'
                        return table;
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    align: 'center'
                },
                {
                    field: 'mediumNote',
                    title: '备注'
                },
                {
                    field: 'auditLog',
                    title: '操作记录',
                    formatter: function (value, row, index) {
                        if(value==null)
                        {
                            return "";
                        }
                        var valueWithBr=value.replace(/;/g,'<br>');
                        return '<a class="' + '" href="javascript:void(0)" onclick="layer.open({content: \''+valueWithBr+'\'})"> ' +value+'</a>';
                    },
                    cellStyle: function formatTableUnit(value, row, index) {
                        return {
                            css: {
                                "white-space": "nowrap",
                                "text-overflow": "ellipsis",
                                "overflow": "hidden",
                                "max-width": "140px"
                            }
                        }
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-info btn-xs ' + "" + '" href="javascript:void(0)" onclick="openbank(\'' + row.id + '\')"><i class="fa fa-google-wallet"></i>解除限制</a> ');
                        actions.push('<a class="btn btn-info btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-google-wallet"></i>删除</a> ');
                        actions.push('<a class="btn btn-info btn-xs ' + "" + '" href="javascript:void(0)" onclick="offbank(\'' + row.id + '\')"><i class="fa fa-google-wallet"></i>处理异常</a> ');
                        actions.push('<a class="btn btn-info btn-xs ' + "" + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-play-circle-o"></i>修改业务金额</a> ');
                        actions.push('<a class="btn btn-primary btn-xs ' + "" + '" onclick="$.operate.openAccount(\'' + row.id + '\',\'修改单卡风控规则\',\'editAmountUrl\')"><i class="fa fa-plus"></i>修改单卡风控规则</a> ');
                        actions.push('<a class="btn btn-primary btn-xs ' + editAmountByCode + '" href="/alipay/medium/editAmountByCode/' + row.code + '")"><i class="fa fa-play-circle-o"></i>修改同种媒介收款限制金额</a> ');
                        actions.push('<a class="btn btn-primary btn-xs ' + "" + '" onclick="$.operate.openAccount(\'' + row.id + '\',\'修改银行卡名称\',\'editBankName\')"><i class="fa fa-play-circle-o"></i>修改银行名称</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    /* 商户状态显示 */
    function statusTools(row, param) {
        if (param === 'black') {
            if (row.black == 1) {
                let msg = "确认此卡【不让接单】吗？";
                let val = 0;
                return '<i class=\"fa fa-toggle-off text-info fa-2x\" style="cursor:pointer;" title="点击变更状态" onclick="enable(\'' + row.id + '\', \'' + param + '\', \'' + msg + '\', \'' + val + '\')"></i> ';
            } else {
                let msg = "确认此卡【开启接单】吗？";
                let val = 1;
                return '<i class=\"fa fa-toggle-on text-info fa-2x\" style="cursor:pointer;" title="点击变更状态" onclick="disable(\'' + row.id + '\', \'' + param + '\', \'' + msg + '\', \'' + val + '\')"></i> ';
            }
        }

        if (param === 'acceptOrder') {
            if (row.status == 1) {
                let msg = "确认【关闭接单状态】吗？";
                let val = 0;
                return '<i class=\"fa fa-toggle-on text-info fa-2x\" style="cursor:pointer;" title="点击变更状态" onclick="enableStatus(\'' + row.id + '\', \'' + param + '\', \'' + msg + '\', \'' + val + '\')"></i> ';
            } else {
                let msg = "确认【开启接单状态吗】吗？";
                let val = 1;
                return '<i class=\"fa fa-toggle-off text-info fa-2x\" style="cursor:pointer;" title="点击变更状态" onclick="disableStatus(\'' + row.id + '\', \'' + param + '\', \'' + msg + '\', \'' + val + '\')"></i> ';
            }
        }

    }

    /* 商户管理-启用 */
    function openbank(id) {
        $.modal.confirm("确定释放银行卡吗", function () {
            $.operate.post(prefix + "/openbank", {
                "id": id,
            });
        })
    }

    function offbank(id) {
        $.modal.confirm("确定处理为异常银行卡吗", function () {
            $.operate.post(prefix + "/offbank", {
                "id": id,
            });
        })
    }

    /* 商户管理-启用 */
    function enable(qrcodeId, param, msg, val) {
        $.modal.confirm(msg, function () {
            $.operate.post(prefix + "/updateBankcard", {
                "id": qrcodeId,
                "black": val
            });
        })
    }


    /* 商户管理-启用 */
    function enableStatus(qrcodeId, param, msg, val) {
        $.modal.confirm(msg, function () {
            $.operate.post(prefix + "/edit", {
                "id": qrcodeId,
                "status": val
            });
        })
    }


    /* 商户管理-停用 */
    function disable(qrcodeId, param, msg, val) {
        $.modal.confirm(msg, function () {
            $.operate.post(prefix + "/updateBankcard", {
                "id": qrcodeId,
                "black": val
            });
        })
    }

    /* 商户管理-停用 */
    function disableStatus(qrcodeId, param, msg, val) {
        $.modal.confirm(msg, function () {
            $.operate.post(prefix + "/edit", {
                "id": qrcodeId,
                "status": val
            });
        })
    }

    //初始化时间
    layui.use('laydate', function () {
        const laydate = layui.laydate;
        laydate.render({
            elem: '#startTime',
            format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime',
            value: new Date().toLocaleDateString().replace(/\//g, "-") + " 00:00:00",
            isInitValue: true
        });
        laydate.render({
            elem: '#endTime',
            format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime',
            value: new Date().toLocaleDateString().replace(/\//g, "-") + " 23:59:59",
            isInitValue: true
        });
    });
</script>
</body>
</html>