<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('交易订单列表')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">

        <!--        <ul class="nav nav-pills">-->
        <!--            <li th:classappend=" ${#httpServletRequest.getParameter('orderStatus') =='2'}  ? 'active':'' "><a  class="nav-link " aria-current="page" href="/alipay/orderDeal/Wit?orderStatus=2">成功的</a></li>-->
        <!--            <li th:classappend=" ${#httpServletRequest.getParameter('orderStatus') =='1'}  ? 'active':'' "><a class="nav-link" href="/alipay/orderDeal/Wit?orderStatus=1">处理中</a></li>-->
        <!--        </ul>-->

        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <input type="hidden" name="orderType" th:value="4">
                <input type="hidden" name="currency" th:value="CNY">
                <div class="select-list">
                    <ul>
                        <li>
                            <span>平台订单：</span>
                            <input type="text" name="orderId"/>
                        </li>
                        <!-- <li>
                             <span>关联订单：</span>
                             <input type="text" name="associatedId"/>
                         </li>
                         <li>
                             <span>外部订单：</span>
                             <input type="text" name="externalOrderId"/>
                         </li>-->
                        <li>
                            <span>账号：</span>
                            <input type="text" name="orderAccount"/>
                        </li>
                        <!--  <li>
                              <span>卡商账号：</span>
                              <input type="text" name="orderQrUser1"/>
                          </li>-->
                        <li>
                            <span>银行卡信息：</span>
                            <input type="text" name="orderQr"/>
                        </li>

                        <li>
                            <span>订单金额：</span>
                            <input type="text" id="exactlyAmount" placeholder="准确金额"
                                   name="params[exactlyAmount]" style="width: 100px;"/>

                            <input type="text" id="minAmount" placeholder="最小金额"
                                   name="params[minAmount]" style="width: 100px;"/>
                            <span>-</span>
                            <input type="text" id="maxAmount" placeholder="最大金额"
                                   name="params[maxAmount]" style="width: 100px;"/>


                        </li>
                        <li class="select-selectpicker">
                            <label>产品类型：</label>
                            <select class="selectpicker" data-none-selected-text="请选择" id="retain1" name="retain1">
                                <option value="">所有</option>
                                <option th:each="product : ${productList}" th:text="${product.productName}"
                                        th:value="${product.productId}"></option>
                            </select>
                        </li>

                        <li class="select-selectpicker">
                            <label>卡商代付订单审核：</label>
                            <select class="selectpicker" data-none-selected-text="请选择" id="enterPay" name="enterPay" data-width="100px">
                                <option value="">所有</option>
                                <option value="1">已审核</option>
                                <option value="0">未审核</option>
                            </select>
                        </li>

                        <li class="select-selectpicker">
                            <label>记录类型：</label>
                            <select class="selectpicker"
                                    data-none-selected-text="请选择" id="recordType"
                                    name="recordType" data-width="100px">
                                <option value="">所有</option>
                                <option value="1">补单</option>
                                <option value="2">切换卡商</option>
                                <option value="3">拆分出款</option>
                            </select>
                        </li>
                        <!-- <li>
                             <span>二维码ID：</span>
                             <input type="text" name="orderQr"/>
                         </li>-->
                        <li class="select-selectpicker">
                            <label>订单状态： </label>
                            <select id="orderStatus" name="orderStatus" th:with="type=${@dict.getType('orderStatus')}"
                                    class="selectpicker" data-none-selected-text="请选择" data-width="100px">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"
                                        th:selected="${ dict.dictValue} == ${#httpServletRequest.getParameter('orderStatus')} "></option>
                                <!--默认成功-->
                            </select>
                        </li>
                        <li class="select-time">
                            <span>提交时间：</span>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[dayStart]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[dayEnd]"/>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" id="searchBtn" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="orderDeal:qr:export">
                <i class="fa fa-download"></i> 导出
            </a>
            <a class="btn btn-primary" onclick="$.operate.statistics('统计当天交易数据(渠道)')"
               shiro:hasPermission="orderDeal:qr:statistics">
                <i class="fa fa-bar-chart"></i> 当天数据统计
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-select-js"/>
<script th:inline="javascript">

    //权限
    const detailFlag = [[${@permission.hasPermi('orderDeal:qr:detail')}]];
    const backOrderFlag = [[${@permission.hasPermi('orderDeal:qr:backOrder')}]];
    const notifyFlag = [[${@permission.hasPermi('orderDeal:qr:renotify')}]];
    const updataOrder = [[${@permission.hasPermi('orderDeal:qr:status')}]];
    const  userIdMapToId = [[${userIdMapToId}]];
    var userName = [[${@permission.getPrincipalProperty('loginName')}]];
    //const resetOperaterFlag =  [[${@permission.hasPermi('orderDeal:qr:resetOperater')}]];
    var resetOperaterFlag = "hidden";
    if (userName == "kent" || userName == "jackma" || userName == "admin") {
        resetOperaterFlag = "";
    }
    //数据
    const orderstatusDatas = [[${@dict.getType('orderStatus')}]];
    const autiSuccess = [[${@dict.getType('autiSuccess')}]];
    //请求路径
    const prefix = ctx + "alipay/orderDeal";

    const prefix1 = ctx + "alipay/BankSplitInfo";
    let prefix6 = ctx + "alipay/BankSplitInfo/bank?bankId=";
    let prefix2 = ctx + "alipay/orderDeal/showCode/";

    $(function () {
        var options = {
            url: prefix + "/list",
            detailUrl: prefix + "/edit/{id}",
            statisticsUrl: prefix + "/statistics/qr/table",
            exportUrl: prefix + "/export",
            openUrl: prefix + "/updateBankCardShow/{userId}",
            backOrderUrl: prefix + "/backOrder/{id}",
            viewBankDataUrl: prefix1 + "/bank/{orderQr}",
            modalName: "主交易订单",
            /* detailView:true,
             detailFormatter:function(index,row){
                     return ' <img class="image" src= '+ row.payImg + ' style=" width: auto; height: auto;"' + '>'
             },*/
            detailView: true,
            onExpandRow: function (index, row, $detail) {
                //这里优先展示 子母代付订单数据如果 有订单处理数据  次要展示
                initChildTable(index, row, $detail);
            },
            showFooter: true,   //注册加载子表的事件。注意下这里的三个参数！
            columns: [
                {
                    field: 'orderId', title: '平台订单', align: 'left',
                    formatter: function (value, row, index) {
                        var table = '<table>  '
                        //小额变色
                        if (null != row.retain1 && '' != row.retain1 && row.retain1.indexOf('小额') > -1) {
                            table = '<table style="background-color: orange">';
                        }
                        table += '<tr><td> ' + '主订单：' + row.orderId + '</td></tr>'
                        table += '<tr><td>' + '关联订单：' + row.associatedId + '</td></tr>'
                        table += '<tr><td>' + '外部订单：' + row.externalOrderId + '</td></tr>'
                        table += '</table>'
                        return table;
                    }
                },
                // {field: 'associatedId', title: '关联订单'},
                {
                    field: 'orderAccount', title: '账号详情', align: 'left', formatter: function (value, row, index) {
                        var cardDeallerId = userIdMapToId[row.orderQrUser];
                        var table = '<table>'
                        if (row.orderQrUser == 'zhongbang-bank') {
                            row.orderQrUser = '切款';
                            table = '<table style="background-color: orange">';
                        } else if (row.orderQrUser == 'zhongbang-bank-s') {
                            table = '<table style="background-color: rgba(156,187,163,0.74)">';
                            row.orderQrUser = '切款';
                        }
                        table += '<tr><td>' + '商户：' + row.orderAccount + '</td></tr>'

                        table += '<tr><td>' + '渠道：' + row.orderQrUser+'【'+ cardDeallerId +'】' + '</td></tr>'
                        table += '<tr><td>' + '产品：' + row.retain1 + '</td></tr>'
                        table += '</table>'
                        return table;
                    }
                },

                {
                    field: 'orderType', title: '类型&操作状态', align: 'left', formatter: function (value, row, index) {
                        if (value == 1) {
                            return '<span class="badge badge-primary">入款订单</span>'
                        } else if (value == 4) {
                            var table = '<table>'
                            table += '<tr><td>' + '<span class="badge badge-danger">出款主订单</span>' + '</td></tr>'
                            if ('zhongbang-bank' == row.orderQrUser) {
                                table += '<tr><td>' + '<span class="badge badge-danger">等待切款</span>' + '</td></tr>'
                            }
                            if (1 == row.enterPay || '1' == row.enterPay) {
                                table += '<tr><td>' + '<span class="badge badge-info">代付已审核</span>' + '</td></tr>'
                            }
                            if (1 == row.lockWit || '1' == row.lockWit) {
                                table += '<tr><td>' + '<span class="badge badge-warning">手动锁定</span>' + '</td></tr>'
                            } else if (2 == row.lockWit || '2' == row.lockWit) {
                                table += '<tr><td>' + '<span class="badge badge-warning">自动锁定</span>' + '</td></tr>'
                            }
                            if (1 == row.grabOrder || '1' == row.grabOrder) {
                                table += '<tr><td>' + '<span class="badge badge-info">抢单出款</span>' + '</td></tr>'
                            }
                            if (2 == row.grabOrder || '2' == row.grabOrder) {//卡商放弃出款
                                table += '<tr><td>' + '<span class="badge badge-warning" style="background-color:purple; ">放弃出款</span>' + '</td></tr>'
                            }
                            if (row.autiSuccess != 0) {
                                table += '<tr><td><span class="badge badge-warning">自动出款' + $.table.selectDictLabel(autiSuccess, row.autiSuccess) + '</span></td></tr>'
                            }
                            if (row.autiSuccess == 2) {
                                table += '<tr><td><span ><strong>' + '失败原因:' + row.msg + '</strong></span></td></tr>'
                            }
                            table += '</table>'
                            return table;
                        } else if (value == 3) {
                            return '<span class="badge badge-info">渠道主交易订单</span>'
                        }
                    }
                },

                {
                    field: 'dealAmount', title: '交易情况', align: 'left',
                    footerFormatter: function (rows) {
                        var sumAmount = 0;
                        var sumFee = 0;
                        var sumActualAmount = 0;
                        var sunCountAmount = 0;//数据总计代付金额
                        var sunCountAmountFee = 0;//数据总计收取手续费
                        var sunCountActualAmount = 0;//数据总计实际到账
                        for (var i in rows) {
                            sumAmount += parseFloat(rows[i].dealAmount);
                            sumFee += parseFloat(rows[i].dealFee);
                            sumActualAmount += parseFloat(rows[i].actualAmount);
                            sunCountAmount += parseFloat(rows[i].sunCountAmount);
                            sunCountAmountFee += parseFloat(rows[i].sunCountAmountFee);
                            sunCountActualAmount += parseFloat(rows[i].sunCountActualAmount);
                        }
                        var table = '<table>'
                        table += '<tr><td><span style="color: green"><strong>' + '当页充值金额：' + sumAmount + '</strong></span><span style="color: red">&nbsp;&nbsp;&nbsp;&nbsp;<strong>当日总充值金额 ： ' + sunCountAmount + '</strong></span></td></tr>'
                        table += '<tr><td><span style="color: green"><strong>' + '当页充值手续费：' + sumFee + '</strong></span><span style="color: red">&nbsp;&nbsp;&nbsp;&nbsp;<strong>当日总充值手续费 ： ' + sunCountAmountFee + '</strong></span></td></tr>'
                        table += '<tr><td><span style="color: green"><strong>' + '当页充值实际到账：' + sumActualAmount + '</strong></span><span style="color: red">&nbsp;&nbsp;&nbsp;&nbsp;<strong>当日总充值实际到账 ： ' + sunCountActualAmount + '</strong></span></td></tr>'
                        table += '</table>'
                        return table;
                    }, formatter: function (value, row, index) {
                        var table = '<table>'
                        table += '<tr><td>' + '金额：' + row.dealAmount + '</td></tr>'
                        table += '<tr><td><span > 状态：<strong>' + $.table.selectDictLabel(orderstatusDatas, row.orderStatus) + '</strong></span></td></tr>'

                        if (1 == row.orderType) {
                            table += '<tr><td>' + '付款人：' + row.payer + '</td></tr>'
                        }
                        table += '</table>'
                        return table;
                    }

                },
                {
                    field: 'orderQr', title: '银行卡信息', align: 'left',formatter: function (value, row, index) {

                        var table = '<table>'
                        //风控变色
                        if (null != row.riskReason && '' != row.riskReason) {
                            table = '<table style="background-color: lightpink">';
                        }
                        table += '<tr><td>' + '出款：' + '<a onclick="openTab(\'' + row.orderQr + '\')">' + row.orderQr + '</a>' + '</td></tr>'
                        table += '<tr><td>' + row.bankAccount + '</td></tr>';
                        /*if(row.bankAmountNow){
                            table += '<li>' +'真实余额：'+ '<span style="color: red">'+ row.bankAmountNow + '</span>'+'</li>'
                            table += '<li>' +'业务余额：'+ '<span style="color: red">'+ row.systemAmount + '</span>'+'</li>'
                        }*/
                        if (null != row.payInfo && '' != row.payInfo) {
                            var valueWithBr = row.payInfo.replace(/;/g, '<br>');
                            table += '<tr ><th> <!-- style="vertical-align: middle !important;text-align: center;" width="30%" --> '+ '回调： ' + row.payInfo + '</th></tr>'  ;
                        }
                        if (1 == row.orderType && 'YES' == row.isNotify) {
                            table += '<tr><td>' + '回调已发送' + '</td></tr>'
                        }
                        table += '</table>'
                        return table;
                    }
                },

                {
                    field: 'payImg', title: '出款凭证',
                    formatter: function (value, row, index) {
                        if (row.orderType == 4 && 2 == row.orderStatus) {
                            if (null != row.payImg && "" != row.payImg) {
                                return '  <img class="image"      onclick="operateEvents(\'' + row.payImg + '\')"   src= "' + row.payImg + '" style="width: 100px; height: 100px;"> '
                            }
                        }
                    }
                },
                {
                    field: 'createTime',
                    sortable: true, title: '时间', align: 'left', formatter: function (value, row, index) {
                        var table = '<table>'
                        table += '<tr><td>' + '创建时间：' + row.createTime + '</td></tr>'
                        table += '<tr><td>' + '修改时间：' + row.submitTime + '</td></tr>'
                        if (1 == row.enterPay || '1' == row.enterPay) {
                            table += '<tr>' + '审核：' + row.enterPayTime + '</tr>'
                        }
                        if (4 == row.orderType && 1 == row.orderStatus) {
                            table += '<strong><tr color="#FF0000"   ><td> 处理时间 ' + '<span id = ' + row.orderId + ' ></span>' + '</td></tr></strong>'
                            window.setInterval(function () {
                                var date1 = new Date()
                                var date2 = new Date(row.submitTime)
                                var s1 = date1.getTime(), s2 = date2.getTime();
                                var total = (s1 - s2) / 1000;//当前时间差
                                total = parseInt(total)
                                $('#' + row.orderId + '').html('<s></s>' + total + '秒');
                            }, 1000);
                        }

                        if (null != row.operater && '' != row.operater) {
                            table += '<tr><td>' + '操作人：' + row.operater + '</td></tr>'
                        }
                        table += '</table>'
                        return table;
                    }
                },
                {
                    field: 'auditLog',
                    title: '操作记录',
                    formatter: function (value, row, index) {
                        if (null != value && '' != value) {
                            var valueWithBr = value.replace(/;/g, '<br>');
                            return '<a class="' + '" href="javascript:void(0)" onclick="layer.open({content: \'' + valueWithBr + '\'})">' + '<p style="display: block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 30px;">' + value + '</p>' + '</a>';
                        }
                    }
                },
                {
                    title: '操作',
                    align: 'left',

                    formatter: function (value, row, index) {
                        var actions = [];
                        //            actions.push('<a class=" btn btn-primary btn-xs settop' + row.id + '" href="javascript:void(0)" onclick="setTop(this,\'' + row.id + '\');" ><i class="fa fa-search"></i>置顶</a> ');
                        //          actions.push('<a class="btn btn-primary btn-xs ' + detailFlag + '" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.id + '\')"><i class="fa fa-search"></i>详情</a> ');
                        // actions.push('<a class="btn btn-primary btn-xs ' + backOrderFlag + '" onclick="$.operate.openAccount(\'' + row.id + '\',\'补单\',\'backOrderUrl\')"><i class="fa fa-plus"></i>补单</a> ');

                        actions.push('<a class="btn btn-warning btn-xs ' + resetOperaterFlag + '" href="javascript:void(0)" onclick="resetOperater(\'' + row.id + '\')"><i class="fa fa-bell-o"></i>重置操作人</a> ');
                        if (row.orderStatus === '2') {
                            actions.push('<a class="btn btn-warning btn-xs ' + notifyFlag + '" href="javascript:void(0)" onclick="back(\'' + row.id + '\')"><i class="fa fa-bell-o"></i>回滚</a> ');
                        }

                        if (row.orderStatus === '2' && row.orderType == 4) {
                            actions.push('<a class="btn btn-danger btn-xs ' + notifyFlag + '" href="javascript:void(0)" onclick="onUpdataOrder(\'' + row.id + '\')"><i class="fa fa-bell-o"></i>转发财务</a><br><br> ');
                        }
                        if (row.orderStatus != 7 && row.orderStatus != '2') {
                            actions.push('<a class="btn btn-danger btn-xs ' + updataOrder + '" href="javascript:void(0)" onclick="onUpdataOrder(\'' + row.id + '\')"><i class="fa fa-google-wallet"></i>转发财务</a><br><br> ');
                        }
                        //卡商抢了单 人不在的情况 让运营可以重新抢单
                        if (row.orderStatus === '1' && row.orderType == 4 && 1 == row.grabOrder) {
                            actions.push('<a class="btn btn-warning btn-xs ' + notifyFlag + '" href="javascript:void(0)" onclick="resetGrabOrder(\'' + row.id + '\')"><i class="fa fa-bell-o"></i>重置抢单</a> ');
                        }
                        if (row.orderStatus === '1' && row.orderType == 4 && 1 != row.grabOrder) {

                            actions.push('<a class="btn btn-warning btn-xs ' + notifyFlag + '" href="javascript:void(0)" onclick="updateBankCard(\'' + row.orderId + '\')"><i class="fa fa-bell-o"></i>修改出款卡商</a> ');
                            actions.push('<a class="btn btn-warning btn-xs ' + notifyFlag + '" href="javascript:void(0)" onclick="updateBankCardMore(\'' + row.orderId + '\')"><i class="fa fa-bell-o"></i>拆单出款</a> ');
                        }

                        if (row.orderType == 4 && row.orderStatus == 2 && row.enterPay == 0) {
                            actions.push('<a class="btn btn-warning btn-xs ' + updataOrder + '" href="javascript:void(0)" onclick="enterPay(\'' + row.id + '\')"><i class="fa fa-bell-o"></i>审核出款</a> ');
                        }
                        /*if ( row.lockWit == 1 &&  row.orderStatus == 1 ) {
                            actions.push('<a class="btn btn-danger btn-xs' + updataOrder + '" href="javascript:void(0)" onclick="toAuto(\'' + row.id + '\')"><i class="fa fa-bell-o"></i>自动锁定</a> ');
                        }else */
                        if (row.lockWit == 2 && row.orderStatus == 1) {
                            actions.push('<a class="btn btn-danger btn-xs' + updataOrder + '" href="javascript:void(0)" onclick="toManual(\'' + row.id + '\')"><i class="fa fa-bell-o"></i>手动锁定</a> ');
                        }
                        if (row.lockWit == 1 && row.orderStatus == 1) {
                            actions.push('<a class="btn btn-danger btn-xs' + updataOrder + '" href="javascript:void(0)" onclick="unLockPay(\'' + row.id + '\')"><i class="fa fa-bell-o"></i>出款解锁</a> ');
                        }
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    /**
     *  签
     * @param index
     * @param row
     * @param $detail
     */
    initChildTable = function (index, row, $detail) {
        var orderId = row.orderId;
        var childTable = $detail.html('<table style="table-layout:fixed"></table>').find('table');
        $(childTable).bootstrapTable({
            url: prefix + "/childrenOrderList",
            method: 'post',
            sidePagination: "server",
            contentType: "application/x-www-form-urlencoded",
            queryParams: {
                orderId: orderId,
            },
            columns: [
                {
                    field: 'orderId',
                    title: '订单号'
                },
                {
                    field: 'exceptType',
                    title: '类型'
                    , formatter: function (value, row, index) {
                        if (row.exceptType == 6) {
                            return '<span>抢单</span>'
                        } else if (row.exceptType == 7) {
                            return '<span>查看出款信息</span>'
                        } else if (row.exceptType == 8) {
                            return '<span>放弃出款</span>'
                        } else if (row.exceptType == 9) {
                            return '<span>确认出款</span>'
                        } else {
                            return '<span>运营操作</span>'
                        }
                    }
                },
                {
                    field: 'orderAccount',
                    title: '商户账号'
                },
                {
                    field: 'exceptOrderAmount',
                    title: '金额'
                },
                {
                    field: 'orderGenerationip',
                    title: '操作ip'
                },
                {
                    field: 'explains',
                    title: '说明'
                },
                {
                    field: 'operation',
                    title: '操作人'
                },
                {
                    field: 'createTime',
                    title: '数据生成时间'
                }]

        });
    };


    function setTop(obj, id) {
        $.cookie('orderDealWit_setTop', id);
        //var $tr = $(this).parent('td').parent('tr');
        $('#bootstrap-table tbody').find("tr").first().before($(obj).parent('td').parent('tr'));

    }

    function onUpdataOrder(id) {
        $.modal.confirm("该笔订单确认转为人工处理", function () {
            $.operate.post(prefix + "/updataOrder", {"id": id});
        });
    }

    function resetGrabOrder(id) {
        $.modal.confirm("确认重置抢单？", function () {
            $.operate.post(prefix + "/reset/grabOrder", {"id": id});
        });
    }

    function resetOperater(id) {
        $.modal.confirm("确认重置操作人？", function () {
            $.operate.post(prefix + "/reset/operater", {"id": id});
        });
    }

    function back(id) {
        $.modal.confirm("该笔订单确认要回滚", function () {
            $.operate.post(prefix + "/updataOrderback", {"id": id});
        });
    }

    //重新通知
    function renotify(orderId) {
        $.modal.confirm("确认重新通知此订单的商户", function () {
            $.operate.post(prefix + "/renotify", {"orderId": orderId});
        });
    }


    function openTab(id) {
        var strings = id.split(':');
        var string = strings[2];
        var url = prefix6 + string
        $.modal.openTab("银行流水数据", url)
    }

    function showCode(id) {
        $.modal.openCode(null, prefix2 + id, '800px', '800px', null);
    }

    function updateBankCard(orderId) {
        title = "修改出款卡商"
        table.set();
        var _url = $.operate.openUrl(orderId);
        var _width = 800;
        var _height = $(window).height() - 50;
        //如果是移动端，就使用自适应大小弹窗
        if (navigator.userAgent.match(/(iPhone|iPod|Android|ios|ipad)/i)) {
            _width = 'auto';
            _height = 'auto';
        }
        var options = {
            title: title,
            width: _width,
            height: _height,
            url: _url,
            skin: 'layui-layer-gray',
            btn: ['关闭'],
            yes: function (index, layero) {
                layer.close(index);
                $.table.refresh();
            }
        };
        $.modal.openOptions(options);
    }

    function updateBankCardMore(orderId) {
        title = "拆单出款"
        table.set();
        var _url = $.operate.openUrl(orderId + "====amount");
        var _width = 800;
        var _height = $(window).height() - 50;
        //如果是移动端，就使用自适应大小弹窗
        if (navigator.userAgent.match(/(iPhone|iPod|Android|ios|ipad)/i)) {
            _width = 'auto';
            _height = 'auto';
        }
        var options = {
            title: title,
            width: _width,
            height: _height,
            url: _url,
            skin: 'layui-layer-gray',
            btn: ['关闭'],
            yes: function (index, layero) {
                var parent = window.parent;
                parent.$.table.refresh();
                $.table.refresh();
                layer.closeAll();


            }
        };
        $.modal.openOptions(options);
    }


    function enterPay(id) {
        $.modal.confirm("确认审核通过", function () {
            $.operate.post(prefix + "/enterPay", {"id": id});
        });
    }

    function unLockPay(id) {
        $.modal.confirm("确认解锁出款订单", function () {
            $.operate.post(prefix + "/unLockPay", {"id": id});
        });
    }

    function toAuto(id) {
        $.modal.confirm("确认自动锁定出款订单", function () {
            $.operate.post(prefix + "/toAutoLockWit", {"id": id});
        });
    }

    function toManual(id) {
        $.modal.confirm("确认手动锁定出款订单", function () {
            $.operate.post(prefix + "/toManualLockWit", {"id": id});
        });
    }

    function operateEvents(row) {
        var url = row;
        layer.open({
            tyep: 1,
            title: false,
            closeBtn: 0,
            area: ['50%', '80%'],
            skin: 'layui-layer-nobg',
            shadeClose: true,
            content: ' <img  style="width: 100%; height: 100%;" class="image" src= "' + url + '"/> '
        })
    }

    function notifyRefresh() {
        console.log("test");
        //$("#searchBtn").click();
        $.table.refresh();
    }

    //初始化时间
    layui.use('laydate', function () {
        const laydate = layui.laydate;
        laydate.render({
            elem: '#startTime',
            format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime',
            value: new Date().toLocaleDateString().replace(/\//g, "-") + " 00:00:00",
            isInitValue: true
        });
        laydate.render({
            elem: '#endTime',
            format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime',
            value: new Date().toLocaleDateString().replace(/\//g, "-") + " 23:59:59",
            isInitValue: true
        });
    });
</script>
</body>
</html>
