<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('渠道变更')"/>
    <th:block th:include="include :: datetimepicker-css"/>
    <th:block th:include="include :: select2-css" />
    <th:block th:include="include :: bootstrap-select-css"/>

</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <div class="row">
    <form class="form-horizontal m" id="form-rate-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">平台订单：</label>
            <div class="col-sm-8">
                <input class="form-control" name="orderId" required th:value="${orderId}"  readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">卡商出款账号：</label>
            <div class="col-sm-8" th:if="${listFund.size()} ne 0">
                <select onchange="getbank()" class="form-control" name="userId" id="userId" required>
                    <option th:each="userIdList : ${listFund}"
                            th:text="${userIdList.userId}+'：'+${userIdList.userName}+'，【当日收款】：' +${userIdList.todayDealAmount} +'，【当日出款】：' +${userIdList.todayOtherWitAmount} "
                            th:value="${userIdList.userId}"></option>

                </select>
            </div>
            <div class="col-sm-8" th:if="${listFund.size()} eq 0">
                <input class="form-control" id="flag" name="flag" readonly required
                       style="border-width: 0;background-color:white; color: red;" type="text" value="未找到任何卡商">
            </div>



        </div>

    </form>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table-bank"></table>
        </div>
    </div>
</div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<th:block th:include="include :: select2-js" />
<th:block th:include="include :: bootstrap-select-js"/>

<script th:inline="javascript">
    let prefix = ctx + "alipay/orderDeal";
    const prefix2 = ctx + "alipay/medium";
    let bank = ctx + "alipay/orderDeal";
    $("#form-orderDeal-edit").validate({
        focusCleanup: true
    });

var bankcard = '';
  function getbank (){
       bankcard = $('select  option:selected').val();
      $.table.search();
  }


  $(function (){
      var options = {
          url: bank + "/getBankcard",
          id: 'bootstrap-table-bank',
          queryParams: {
              qrcodeId: bankcard
          },

          contentType: "application/x-www-form-urlencoded",
          columns: [{
              checkbox: true
          },
              {
                  field: 'mediumNumber',
                  title: '账号',
              },
              { field: 'mediumPhone', title: '手机号'  },
              { field: 'account', title: '开户行'  },
              { field: 'qrcodeId', title: '卡商账户'  },
              { field: 'mountLimit', title: '收款限制金额'   },
              { field: 'mountSystem', title: '交易余额'  , formatter: function (value, row, index) {
                      var amount = row.toDayDeal - row.toDayWit + row.yseToday;
                      var table = '<ul>'
                      table += '<li>' + '交易余额：' + amount + '</li>'
                      table += '<li>' + '昨日交易余额：' + row.yseToday + '</li>'
                      table += '</ul>'
                      return table;
                  }},
              { field: 'mountNow',  title: '参考余额' },
              {
                  title: '黑卡',
                  align: 'black',
                  formatter: function (value, row, index) {
                      return statusTools(row, 'black');
                  }
              },
              {
                  field: 'status',
                  title: '接单状态',
                  align: 'center',
                  formatter: function (value, row, index) {
                      return statusTools(row, 'status');
                  }
              },{
                  field: 'mediumNumber',
                  title: '账号',
              },
              { field: 'mediumPhone', title: '手机号'  },
              { field: 'account', title: '开户行'  },
              { field: 'qrcodeId', title: '卡商账户'  },
              { field: 'mountLimit', title: '收款限制金额'   },
              { field: 'mountSystem', title: '交易余额'  , formatter: function (value, row, index) {
                      var amount = row.toDayDeal - row.toDayWit + row.yseToday;
                      var table = '<ul>'
                      table += '<li>' + '交易余额：' + amount + '</li>'
                      table += '<li>' + '昨日交易余额：' + row.yseToday + '</li>'
                      table += '</ul>'
                      return table;
                  }},
              { field: 'mountNow',  title: '参考余额' },
              {
                  title: '黑卡',
                  align: 'black',
                  formatter: function (value, row, index) {
                      return statusTools(row, 'black');
                  }
              },
              {
                  field: 'status',
                  title: '接单状态',
                  align: 'center',
                  formatter: function (value, row, index) {
                      return statusTools(row, 'status');
                  }
              },
          ]
      };
      $.table.init(options);
  })

    /* 商户状态显示 */
    function statusTools(row, param) {

        if (param === 'acceptOrder') {
            if (row.status == 1) {
                let msg = "确认【关闭接单状态】吗？";
                let val = 0;
                return '<i class=\"fa fa-toggle-on text-info fa-2x\" style="cursor:pointer;" title="点击变更状态" onclick="enableStatus(\'' + row.id + '\', \'' + param + '\', \'' + msg + '\', \'' + val + '\')"></i> ';
            } else {
                let msg = "确认【开启接单状态吗】吗？";
                let val = 1;
                return '<i class=\"fa fa-toggle-off text-info fa-2x\" style="cursor:pointer;" title="点击变更状态" onclick="disableStatus(\'' + row.id + '\', \'' + param + '\', \'' + msg + '\', \'' + val + '\')"></i> ';
            }
        }

    }

    /* 商户管理-启用 */
    function enableStatus(qrcodeId, param, msg, val) {
        $.modal.confirm(msg, function () {
            $.operate.post(prefix2 + "/edit", {
                "id": qrcodeId,
                "status": val
            });
        })
    }

    /* 商户管理-停用 */
    function disableStatus(qrcodeId, param, msg, val) {
        $.modal.confirm(msg, function () {
            $.operate.post(prefix2 + "/edit", {
                "id": qrcodeId,
                "status": val
            });
        })
    }


    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/updateBankCard", $('#form-rate-add').serialize());
        }
    }
</script>
</body>
</html>