<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.alipay.mapper.AlipayMediumEntityMapper">
    <resultMap type="AlipayMediumEntity" id="AlipayMediumEntityResult">
        <result property="id"    column="id"    />
        <result property="mediumId"    column="mediumId"    />
        <result property="mediumNumber" column="mediumNumber"/>
        <result property="mediumHolder" column="mediumHolder"/>
        <result property="mediumNote" column="mediumNote"/>
        <result property="mediumPhone" column="mediumPhone"/>
        <result property="qrcodeId" column="qrcodeId"/>
        <result property="code" column="code"/>
        <result property="createTime" column="createTime"/>
        <result property="submitTime" column="submitTime"/>
        <result property="status" column="status"/>
        <result property="isDeal" column="isDeal"/>

        <result column="attr" property="attr" jdbcType="VARCHAR"/>
        <result column="black" property="black" jdbcType="VARCHAR"/>
        <result column="notfiyMask" property="notfiyMask" jdbcType="VARCHAR"/>
        <result column="bankcode" property="bankcode" jdbcType="CHAR"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="error" property="error" jdbcType="VARCHAR"/>
        <result column="mountNow" property="mountNow" jdbcType="DECIMAL"/>
        <result column="mountSystem" property="mountSystem" jdbcType="DECIMAL"/>
        <result column="mountLimit" property="mountLimit" jdbcType="DECIMAL"/>
        <result column="witAmount" property="witAmount" jdbcType="DECIMAL"/>
        <result column="toDayDeal" property="toDayDeal" jdbcType="DECIMAL"/>
        <result column="sumDayDeal" property="sumDayDeal" jdbcType="DECIMAL"/>
        <result column="toDayWit" property="toDayWit" jdbcType="DECIMAL"/>
        <result column="sumDayWit" property="sumDayWit" jdbcType="DECIMAL"/>
        <result column="startAmount" property="startAmount" jdbcType="DECIMAL"/>
        <result column="yseToday" property="yseToday" jdbcType="DECIMAL"/>
        <result column="startTime" property="startTime"  />
        <result column="endTime" property="endTime"  />
        <result column="isClickPay" property="isClickPay"  />
        <result column="sc" property="sc"  />
        <result column="sumAmounlimit" property="sumAmounlimit"  />
        <result column="auditLog" property="auditLog"  />
    </resultMap>

    <sql id="selectAlipayMediumEntityVo">
        select id, error,mediumId, mediumNumber, mediumHolder, mediumNote, mediumPhone, qrcodeId,yseToday,
         code, createTime, submitTime, status, isDeal,black,toDayDeal,sumDayDeal,toDayWit,sumDayWit,startAmount,sumDayWit,startTime,endTime,isClickPay,sc,sumAmounlimit,
         attr,bankcode,account,mountNow,mountSystem,mountLimit,notfiyMask,witAmount,auditLog
         from alipay_medium
    </sql>

    <select id="selectAlipayMediumEntityList" parameterType="AlipayMediumEntity" resultMap="AlipayMediumEntityResult">
        <include refid="selectAlipayMediumEntityVo"/>
        <where>
            isDeal = 2
            <if test="mediumHolder != null  and mediumHolder != ''"> and mediumHolder like concat('%', #{mediumHolder}, '%')</if>
            <if test="mediumNote != null  and mediumNote != ''"> and mediumNote = #{mediumNote}</if>
            <if test="mediumPhone != null  and mediumPhone != ''"> and mediumPhone = #{mediumPhone}</if>
            <if test="qrcodeId != null  and qrcodeId != ''"> and qrcodeId = #{qrcodeId}</if>
            <if test="account != null  and account != ''"> and account like concat('%', #{account}, '%')</if>
            <if test="mediumNumber != null  and mediumNumber != ''"> and mediumNumber like concat('%', #{mediumNumber}, '%')</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="createTime != null "> and createTime = #{createTime}</if>
            <if test="submitTime != null "> and submitTime = #{submitTime}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="black != null "> and black = #{black}</if>
        </where>
        order by mountNow  desc
    </select>
    
    <select id="selectAlipayMediumEntityById" parameterType="Long" resultMap="AlipayMediumEntityResult">
        <include refid="selectAlipayMediumEntityVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAlipayMediumEntity" parameterType="AlipayMediumEntity" useGeneratedKeys="true" keyProperty="id">
        insert into alipay_medium
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mediumId != null  and mediumId != ''">mediumId,</if>
            <if test="mediumNumber != null  and mediumNumber != ''">mediumNumber,</if>
            <if test="mediumHolder != null  and mediumHolder != ''">mediumHolder,</if>
            <if test="mediumNote != null  and mediumNote != ''">mediumNote,</if>
            <if test="mediumPhone != null  and mediumPhone != ''">mediumPhone,</if>
            <if test="qrcodeId != null  and qrcodeId != ''">qrcodeId,</if>
            <if test="code != null  and code != ''">code,</if>
            <if test="createTime != null ">createTime,</if>
            <if test="submitTime != null ">submitTime,</if>
            <if test="status != null ">status,</if>
            <if test="isDeal != null  and isDeal != ''">isDeal,</if>
            <if test="black != null  and black != ''">black,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mediumId != null  and mediumId != ''">#{mediumId},</if>
            <if test="mediumNumber != null  and mediumNumber != ''">#{mediumNumber},</if>
            <if test="mediumHolder != null  and mediumHolder != ''">#{mediumHolder},</if>
            <if test="mediumNote != null  and mediumNote != ''">#{mediumNote},</if>
            <if test="mediumPhone != null  and mediumPhone != ''">#{mediumPhone},</if>
            <if test="qrcodeId != null  and qrcodeId != ''">#{qrcodeId},</if>
            <if test="code != null  and code != ''">#{code},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="submitTime != null ">#{submitTime},</if>
            <if test="status != null ">#{status},</if>
            <if test="isDeal != null  and isDeal != ''">#{isDeal},</if>
            <if test="black != null  and black != ''">#{black},</if>
         </trim>
    </insert>

    <update id="updateAlipayMediumEntity" parameterType="AlipayMediumEntity">
        update alipay_medium
        <trim prefix="SET" suffixOverrides=",">
            <if test="mediumId != null  and mediumId != ''">mediumId = #{mediumId},</if>
            <if test="mediumNumber != null  and mediumNumber != ''">mediumNumber = #{mediumNumber},</if>
            <if test="mediumHolder != null  and mediumHolder != ''">mediumHolder = #{mediumHolder},</if>
            <if test="mediumNote != null  and mediumNote != ''">mediumNote = #{mediumNote},</if>
            <if test="mediumPhone != null  and mediumPhone != ''">mediumPhone = #{mediumPhone},</if>
            <if test="qrcodeId != null  and qrcodeId != ''">qrcodeId = #{qrcodeId},</if>
            <if test="code != null  and code != ''">code = #{code},</if>
            <if test="createTime != null ">createTime = #{createTime},</if>
            <if test="submitTime != null ">submitTime = #{submitTime},</if>
            <if test="witAmount != null ">witAmount = #{witAmount},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="isDeal != null  and isDeal != ''">isDeal = #{isDeal},</if>
            <if test="attr != null  and attr != ''"> attr = #{attr},</if>
            <if test="mountNow != null  and mountNow != ''"> mountNow = #{mountNow},</if>
            <if test="mountSystem != null  and mountSystem != ''"> mountSystem = #{mountSystem},</if>
            <if test="mountLimit != null  and mountLimit != ''"> mountLimit = #{mountLimit},</if>
            <if test="black != null  and black != ''"> black = #{black},</if>
            <if test="startAmount != null  and startAmount != ''">startAmount = #{startAmount},</if>
            <if test="error != null  and error != ''"> error = #{error},</if>
            <if test="startTime != null  and startTime != ''">startTime = #{startTime},</if>
            <if test="endTime != null  and endTime != ''">endTime = #{endTime},</if>
            <if test="isClickPay != null ">isClickPay = #{isClickPay},</if>
            <if test="sc != null  and sc != ''">sc = #{sc},</if>
            <if test="sumAmounlimit != null  and sumAmounlimit != ''">sumAmounlimit = #{sumAmounlimit},</if>
            <if test="auditLog != null  and auditLog != ''">auditLog =  CONCAT(ifnull(auditLog,''),#{auditLog}),</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateAlipayMediumEntityByBankName" parameterType="AlipayMediumEntity">
        update alipay_medium
        <trim prefix="SET" suffixOverrides=",">
            <if test="mediumId != null  and mediumId != ''">mediumId = #{mediumId},</if>
            <if test="mediumNumber != null  and mediumNumber != ''">mediumNumber = #{mediumNumber},</if>
            <if test="mediumHolder != null  and mediumHolder != ''">mediumHolder = #{mediumHolder},</if>
            <if test="mediumNote != null  and mediumNote != ''">mediumNote = #{mediumNote},</if>
            <if test="mediumPhone != null  and mediumPhone != ''">mediumPhone = #{mediumPhone},</if>
            <if test="qrcodeId != null  and qrcodeId != ''">qrcodeId = #{qrcodeId},</if>
            <if test="code != null  and code != ''">code = #{code},</if>
            <if test="createTime != null ">createTime = #{createTime},</if>
            <if test="submitTime != null ">submitTime = #{submitTime},</if>
            <if test="witAmount != null ">witAmount = #{witAmount},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="isDeal != null  and isDeal != ''">isDeal = #{isDeal},</if>
            <if test="attr != null  and attr != ''"> attr = #{attr},</if>
            <if test="mountNow != null  and mountNow != ''"> mountNow = #{mountNow},</if>
            <if test="mountSystem != null  and mountSystem != ''"> mountSystem = #{mountSystem},</if>
            <if test="mountLimit != null  and mountLimit != ''"> mountLimit = #{mountLimit},</if>
            <if test="black != null  and black != ''"> black = #{black},</if>
            <if test="startAmount != null  and startAmount != ''">startAmount = #{startAmount},</if>
            <if test="error != null  and error != ''"> error = #{error},</if>
            <if test="startTime != null  and startTime != ''">startTime = #{startTime},</if>
            <if test="endTime != null  and endTime != ''">endTime = #{endTime},</if>
            <if test="isClickPay != null ">isClickPay = #{isClickPay},</if>
            <if test="sc != null  and sc != ''">sc = #{sc},</if>
            <if test="sumAmounlimit != null  and sumAmounlimit != ''">sumAmounlimit = #{sumAmounlimit},</if>
            <if test="auditLog != null  and auditLog != ''">auditLog =  CONCAT(ifnull(auditLog,''),#{auditLog}),</if>
        </trim>
        where account = #{params.bankName}
    </update>

    <update id="updateAlipayMediumEntityByCode" parameterType="AlipayMediumEntity">
        update alipay_medium
        <trim prefix="SET" suffixOverrides=",">
            <if test="mediumId != null  and mediumId != ''">mediumId = #{mediumId},</if>
            <if test="mediumNumber != null  and mediumNumber != ''">mediumNumber = #{mediumNumber},</if>
            <if test="mediumHolder != null  and mediumHolder != ''">mediumHolder = #{mediumHolder},</if>
            <if test="mediumNote != null  and mediumNote != ''">mediumNote = #{mediumNote},</if>
            <if test="mediumPhone != null  and mediumPhone != ''">mediumPhone = #{mediumPhone},</if>
            <if test="qrcodeId != null  and qrcodeId != ''">qrcodeId = #{qrcodeId},</if>
            <if test="code != null  and code != ''">code = #{code},</if>
            <if test="createTime != null ">createTime = #{createTime},</if>
            <if test="submitTime != null ">submitTime = #{submitTime},</if>
            <if test="witAmount != null ">witAmount = #{witAmount},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="isDeal != null  and isDeal != ''">isDeal = #{isDeal},</if>
            <if test="attr != null  and attr != ''">attr = #{attr},</if>
            <if test="mountNow != null  and mountNow != ''">mountNow = #{mountNow},</if>
            <if test="mountSystem != null  and mountSystem != ''">mountSystem = #{mountSystem},</if>
            <if test="mountLimit != null  and mountLimit != ''">mountLimit = #{mountLimit},</if>
            <if test="auditLog != null  and auditLog != ''">auditLog =  CONCAT(ifnull(auditLog,''),#{auditLog}),</if>
        </trim>
        where code = #{code}
    </update>

    <delete id="deleteAlipayMediumEntityById" parameterType="Long">
        delete from alipay_medium where id = #{id}
    </delete>

    <delete id="deleteAlipayMediumEntityByIds" parameterType="String">
        delete from alipay_medium where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="findUserId" parameterType="String" resultMap="AlipayMediumEntityResult">
        <include refid="selectAlipayMediumEntityVo"/>
          where  mediumNumber = #{mediumNumber}
    </select>


</mapper>