<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('流水订单记录列表')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>

                        <li class="select-time">
                            <span>创建时间：</span>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[dayStart]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[dayEnd]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <!--<a class="btn btn-warning" onclick="$.table.exportExcel()" >
                <i class="fa fa-download"></i> 导出
            </a>-->
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-select-js"/>
<script th:inline="javascript">
    var prefix = ctx + "alipay/running";
    var orderRunType = [[${@dict.getType('runOrderType')}]];
    var runType = [[${@dict.getType('runType')}]];
    $(function () {
        var options = {
            url: prefix + "/groupByDate/list",
            exportUrl: prefix + "/export",
            modalName: "流水订单记录",
            columns: [{
                checkbox: false
            },
                {
                    field: 'dateTime',
                    title: '日期'
                },
                {
                    field: 'merchantTradeTotal',
                    title: '商户交易总量'
                },
                {
                    field: 'selfChannelTradeTotal',
                    title: '自营渠道交易量'
                },
                {
                    field: 'externalChannelTradeTotal',
                    title: '外接渠道交易量'
                },
                {
                    field: 'fouthPartRevenue',
                    title: '四方营收'
                },
                {
                    field: 'collectServiceFee',
                    title: '代收服务费'
                },

                {
                    field: 'payServiceFee',
                    title: '代付服务费'
                },

                {
                    field: 'fourthPartiesCommission',
                    title: '四方代理佣金'
                },

                {
                    field: 'externalChannelTransactionCost',
                    title: '外接渠道交易成本'
                },

                {
                    field: 'cardSupplierRebate',
                    title: '返点码商'
                },

                {
                    field: 'profit',
                    title: '营业利润'
                },

            ]
        };
        $.table.init(options);
    });

    //初始化时间
    layui.use('laydate', function(){
        const laydate = layui.laydate;
        laydate.render({
            elem: '#startTime',
            format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime',
            value: new Date().toLocaleDateString().replace(/\//g,"-") + " 00:00:00",
            isInitValue: true
        });
        laydate.render({
            elem: '#endTime',
            format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime',
            value: new Date().toLocaleDateString().replace(/\//g,"-") + " 23:59:59",
            isInitValue: true
        });
    });
</script>
</body>
</html>
